<a href="https://colab.research.google.com/github/antonychackotc/project-3/blob/main/part_2_multiple_disease_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PART - 2**

# **Define categorical and numerical columns in each datasets**

In [ ]:
import pandas as pd

df1=pd.read_csv('/content/df1_cleaned.csv')
df2=pd.read_csv('/content/df2_cleaned.csv')
df3=pd.read_csv('/content/df3_cleaned.csv')

# **i)Indian Liver Disease - df1- categorical and numerical columns**

In [ ]:
# Identify categorical and numerical columns
categorical_columns = df1.select_dtypes(include=['object', 'category']).columns
numerical_columns = df1.select_dtypes(include=['int64', 'float64']).columns

# Print results
print("Categorical columns:", list(categorical_columns))
print("Numerical columns:", list(numerical_columns))

Categorical columns: ['Gender']
Numerical columns: ['Unnamed: 0', 'Age', 'Total_Bilirubin', 'Direct_Bilirubin', 'Alkaline_Phosphotase', 'Alamine_Aminotransferase', 'Aspartate_Aminotransferase', 'Total_Protiens', 'Albumin', 'Albumin_and_Globulin_Ratio', 'Dataset']

# **ii)Kidney Diseases - df2 - categorical and numerical columns**

In [ ]:
# Identify categorical and numerical columns
categorical_columns = df2.select_dtypes(include=['object', 'category']).columns
numerical_columns = df2.select_dtypes(include=['int64', 'float64']).columns

# Print results
print("Categorical columns:", list(categorical_columns))
print("Numerical columns:", list(numerical_columns))

Categorical columns: ['rbc', 'pc', 'pcc', 'ba', 'htn', 'dm', 'cad', 'appet', 'pe', 'ane', 'classification']
Numerical columns: ['Unnamed: 0', 'id', 'age', 'bp', 'sg', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hemo', 'pcv', 'wc', 'rc']

# **iii)Parkinsons - df3 - categorical and numerical columns**

In [ ]:
# Identify categorical and numerical columns
categorical_columns = df3.select_dtypes(include=['object', 'category']).columns
numerical_columns = df3.select_dtypes(include=['int64', 'float64']).columns

# Print results
print("Categorical columns:", list(categorical_columns))
print("Numerical columns:", list(numerical_columns))

Categorical columns: ['name']
Numerical columns: ['Unnamed: 0', 'MDVP:Fo(Hz)', 'MDVP:Fhi(Hz)', 'MDVP:Flo(Hz)', 'MDVP:Jitter(%)', 'MDVP:Jitter(Abs)', 'MDVP:RAP', 'MDVP:PPQ', 'Jitter:DDP', 'MDVP:Shimmer', 'MDVP:Shimmer(dB)', 'Shimmer:APQ3', 'Shimmer:APQ5', 'MDVP:APQ', 'Shimmer:DDA', 'NHR', 'HNR', 'status', 'RPDE', 'DFA', 'spread1', 'spread2', 'D2', 'PPE']

In [ ]:
#############################################################################################################

# **2) Encodes categorical data**

# **encoding a categorical columns to numeric column as a feature to help to predict a target**

# **1)df1 - Gender categorical column encoding to numerical column**

In [ ]:
df1['Gender'].value_counts()

Gender
Male      441
Female    142
Name: count, dtype: int64

In [ ]:
df1['Gender']=df1['Gender'].map({'Male':1,'Female':0})

In [ ]:
df1['Gender'].value_counts()

Gender
1    441
0    142
Name: count, dtype: int64

In [ ]:
##################################################_______________df1____________###########################################################

# **2)df2 - rbc categorical column encoding to numerical column**

# **i)**

In [ ]:
df2['rbc'].value_counts()

rbc
normal      353
abnormal     47
Name: count, dtype: int64

In [ ]:
df2['rbc']=df2['rbc'].map({'normal':1,'abnormal':0})

In [ ]:
df2['rbc'].value_counts()

rbc
1    353
0     47
Name: count, dtype: int64

# **ii)**

In [ ]:
df2['pc'].value_counts()

pc
normal      324
abnormal     76
Name: count, dtype: int64

In [ ]:
df2['pc']=df2['pc'].map({'normal':1,'abnormal':0})

In [ ]:
df2['pc'].value_counts()

pc
1    324
0     76
Name: count, dtype: int64

# **iii)**

In [ ]:
df2['pcc'].value_counts()

pcc
notpresent    358
present        42
Name: count, dtype: int64

In [ ]:
df2['pcc']=df2['pcc'].map({'notpresent':0,'present':1})

In [ ]:
df2['pcc'].value_counts()

pcc
0    358
1     42
Name: count, dtype: int64

# **iv)**

In [ ]:
df2['ba'].value_counts()

ba
notpresent    378
present        22
Name: count, dtype: int64

In [ ]:
df2['ba']=df2['ba'].map({'notpresent':0,'present':1})

In [ ]:
df2['ba'].value_counts()

ba
0    378
1     22
Name: count, dtype: int64

# **v)**

In [ ]:
df2['htn'].value_counts()

htn
no     253
yes    147
Name: count, dtype: int64

In [ ]:
df2['htn']=df2['htn'].map({'no':0,'yes':1})

In [ ]:
df2['htn'].value_counts()

htn
0    253
1    147
Name: count, dtype: int64

# **vi)**

In [ ]:
df2['dm'].value_counts()

dm
no     263
yes    137
Name: count, dtype: int64

In [ ]:
df2['dm']=df2['dm'].map({'no':0,'yes':1})

In [ ]:
df2['dm'].value_counts()

dm
0    263
1    137
Name: count, dtype: int64

# **vii)**

In [ ]:
df2['cad'].value_counts()

cad
no     366
yes     34
Name: count, dtype: int64

In [ ]:
df2['cad']=df2['cad'].map({'no':0,'yes':1})

In [ ]:
df2['cad'].value_counts()

cad
0    366
1     34
Name: count, dtype: int64

# **viii)**

In [ ]:
df2['appet'].value_counts()

appet
good    318
poor     82
Name: count, dtype: int64

In [ ]:
df2['appet']=df2['appet'].map({'good':1,'poor':0})

In [ ]:
df2['appet'].value_counts()

appet
1    318
0     82
Name: count, dtype: int64

# **ix)**

In [ ]:
df2['pe'].value_counts()

pe
no     324
yes     76
Name: count, dtype: int64

In [ ]:
df2['pe']=df2['pe'].map({'no':0,'yes':1})

# **x)**

In [ ]:
df2['ane'].value_counts()

ane
no     340
yes     60
Name: count, dtype: int64

In [ ]:
df2['ane']=df2['ane'].map({'no':0,'yes':1})

In [ ]:
df2['ane'].value_counts()

ane
0    340
1     60
Name: count, dtype: int64

# **xi)**

In [ ]:
df2['classification'].value_counts()  #no need to encoding classification consider as a target column

classification
ckd       250
notckd    150
Name: count, dtype: int64

In [ ]:
df2['classification']=df2['classification'].map({'ckd':1,'notckd':0})

In [ ]:
df2['classification'].value_counts()

classification
1    250
0    150
Name: count, dtype: int64

# **CKD - chronic kidney disease**

# **df3 dataset only have name column**

In [ ]:
df3.head()

,Unnamed: 0,name,MDVP:Fo(Hz),MDVP:Fhi(Hz),MDVP:Flo(Hz),MDVP:Jitter(%),MDVP:Jitter(Abs),MDVP:RAP,MDVP:PPQ,Jitter:DDP,...,Shimmer:DDA,NHR,HNR,status,RPDE,DFA,spread1,spread2,D2,PPE
0,0,phon_R01_S01_1,119.992,157.302,74.997,0.00784,0.00007,0.00370,0.00554,0.01109,...,0.06545,0.02211,21.033,1,0.414783,0.815285,-4.813031,0.266482,2.301442,0.284654
1,1,phon_R01_S01_2,122.400,148.650,113.819,0.00968,0.00008,0.00465,0.00696,0.01394,...,0.09403,0.01929,19.085,1,0.458359,0.819521,-4.075192,0.335590,2.486855,0.368674
2,2,phon_R01_S01_3,116.682,131.111,111.555,0.01050,0.00009,0.00544,0.00781,0.01633,...,0.08270,0.01309,20.651,1,0.429895,0.825288,-4.443179,0.311173,2.342259,0.332634
3,3,phon_R01_S01_4,116.676,137.871,111.366,0.00997,0.00009,0.00502,0.00698,0.01505,...,0.08771,0.01353,20.644,1,0.434969,0.819235,-4.117501,0.334147,2.405554,0.368975
4,4,phon_R01_S01_5,116.014,141.781,110.655,0.01284,0.00011,0.00655,0.00908,0.01966,...,0.10470,0.01767,19.649,1,0.417356,0.823484,-3.747787,0.234513,2.332180,0.410335

In [ ]:
df3['name']

0      phon_R01_S01_1
1      phon_R01_S01_2
2      phon_R01_S01_3
3      phon_R01_S01_4
4      phon_R01_S01_5
            ...
190    phon_R01_S50_2
191    phon_R01_S50_3
192    phon_R01_S50_4
193    phon_R01_S50_5
194    phon_R01_S50_6
Name: name, Length: 195, dtype: object

In [ ]:
df3['name'].value_counts()

name
phon_R01_S01_1    1
phon_R01_S35_1    1
phon_R01_S31_3    1
phon_R01_S31_4    1
phon_R01_S31_5    1
                 ..
phon_R01_S18_2    1
phon_R01_S18_3    1
phon_R01_S18_4    1
phon_R01_S18_5    1
phon_R01_S50_6    1
Name: count, Length: 195, dtype: int64

## **name column has unique value so no need for encoding**

In [ ]:
# Identify categorical and numerical columns
categorical_columns = df1.select_dtypes(include=['object', 'category']).columns
numerical_columns = df1.select_dtypes(include=['int64', 'float64']).columns

# Print results
print("Categorical columns:", list(categorical_columns))
print("Numerical columns:", list(numerical_columns))

Categorical columns: []
Numerical columns: ['Unnamed: 0', 'Age', 'Gender', 'Total_Bilirubin', 'Direct_Bilirubin', 'Alkaline_Phosphotase', 'Alamine_Aminotransferase', 'Aspartate_Aminotransferase', 'Total_Protiens', 'Albumin', 'Albumin_and_Globulin_Ratio', 'Dataset']

In [ ]:
# Identify categorical and numerical columns
categorical_columns = df2.select_dtypes(include=['object', 'category']).columns
numerical_columns = df2.select_dtypes(include=['int64', 'float64']).columns

# Print results
print("Categorical columns:", list(categorical_columns))
print("Numerical columns:", list(numerical_columns))

Categorical columns: []
Numerical columns: ['Unnamed: 0', 'id', 'age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hemo', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad', 'appet', 'pe', 'ane', 'classification']

In [ ]:
# Identify categorical and numerical columns
categorical_columns = df3.select_dtypes(include=['object', 'category']).columns
numerical_columns = df3.select_dtypes(include=['int64', 'float64']).columns

# Print results
print("Categorical columns:", list(categorical_columns))
print("Numerical columns:", list(numerical_columns))

Categorical columns: ['name']
Numerical columns: ['Unnamed: 0', 'MDVP:Fo(Hz)', 'MDVP:Fhi(Hz)', 'MDVP:Flo(Hz)', 'MDVP:Jitter(%)', 'MDVP:Jitter(Abs)', 'MDVP:RAP', 'MDVP:PPQ', 'Jitter:DDP', 'MDVP:Shimmer', 'MDVP:Shimmer(dB)', 'Shimmer:APQ3', 'Shimmer:APQ5', 'MDVP:APQ', 'Shimmer:DDA', 'NHR', 'HNR', 'status', 'RPDE', 'DFA', 'spread1', 'spread2', 'D2', 'PPE']

# **successfully converted all features columns converted to numerical columns**

In [ ]:
df1.to_csv('df1_encoded.csv',index=False)
df2.to_csv('df2_encoded.csv',index=False)
df3.to_csv('df3_encoded.csv',index=False)

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  583 non-null    int64
 1   Age                         583 non-null    int64
 2   Gender                      583 non-null    int64
 3   Total_Bilirubin             583 non-null    float64
 4   Direct_Bilirubin            583 non-null    float64
 5   Alkaline_Phosphotase        583 non-null    int64
 6   Alamine_Aminotransferase    583 non-null    int64
 7   Aspartate_Aminotransferase  583 non-null    int64
 8   Total_Protiens              583 non-null    float64
 9   Albumin                     583 non-null    float64
 10  Albumin_and_Globulin_Ratio  583 non-null    float64
 11  Dataset                     583 non-null    int64
dtypes: float64(5), int64(7)
memory usage: 54.8 KB

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 27 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      400 non-null    int64
 1   id              400 non-null    int64
 2   age             400 non-null    float64
 3   bp              400 non-null    float64
 4   sg              400 non-null    float64
 5   al              400 non-null    float64
 6   su              400 non-null    float64
 7   rbc             400 non-null    int64
 8   pc              400 non-null    int64
 9   pcc             400 non-null    int64
 10  ba              400 non-null    int64
 11  bgr             400 non-null    float64
 12  bu              400 non-null    float64
 13  sc              400 non-null    float64
 14  sod             400 non-null    float64
 15  pot             400 non-null    float64
 16  hemo            400 non-null    float64
 17  pcv             400 non-null    float64
 18  wc              400 non-null    float64
 19  rc              400 non-null    float64
 20  htn             400 non-null    int64
 21  dm              400 non-null    int64
 22  cad             400 non-null    int64
 23  appet           400 non-null    int64
 24  pe              400 non-null    int64
 25  ane             400 non-null    int64
 26  classification  400 non-null    object
dtypes: float64(14), int64(12), object(1)
memory usage: 84.5+ KB

In [ ]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        195 non-null    int64
 1   name              195 non-null    object
 2   MDVP:Fo(Hz)       195 non-null    float64
 3   MDVP:Fhi(Hz)      195 non-null    float64
 4   MDVP:Flo(Hz)      195 non-null    float64
 5   MDVP:Jitter(%)    195 non-null    float64
 6   MDVP:Jitter(Abs)  195 non-null    float64
 7   MDVP:RAP          195 non-null    float64
 8   MDVP:PPQ          195 non-null    float64
 9   Jitter:DDP        195 non-null    float64
 10  MDVP:Shimmer      195 non-null    float64
 11  MDVP:Shimmer(dB)  195 non-null    float64
 12  Shimmer:APQ3      195 non-null    float64
 13  Shimmer:APQ5      195 non-null    float64
 14  MDVP:APQ          195 non-null    float64
 15  Shimmer:DDA       195 non-null    float64
 16  NHR               195 non-null    float64
 17  HNR               195 non-null    float64
 18  status            195 non-null    int64
 19  RPDE              195 non-null    float64
 20  DFA               195 non-null    float64
 21  spread1           195 non-null    float64
 22  spread2           195 non-null    float64
 23  D2                195 non-null    float64
 24  PPE               195 non-null    float64
dtypes: float64(22), int64(2), object(1)
memory usage: 38.2+ KB

# **continous to part -3**